.light-header {
    color: white;
    text-align: center;

}

.light-text {
    color: white;
}

/* background image styling and images */
.bg-image-style {
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.bg-image-salsa {

    background-image: url(../images/salsa-verde.jpeg);
}

.recipe-body {
  background-color: rgba(128, 128, 128, 0.35);
  max-width: 40%;
}